################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sourcecode/ShipmentLocatorApp/ProductivityInVS/obj
/sourcecode/ShipmentLocatorApp/ProjectUtilities/obj
/sourcecode/ShipmentLocatorApp/ShipmentClasses/obj
/sourcecode/ShipmentLocatorApp/ShipmentLocator/obj
/sourcecode/ShipmentLocatorApp/ShipmentTracking/obj
/sourcecode/ShipmentLocatorApp/Tracking/obj
/sourcecode/ShipmentLocatorApp/VisualStudioDebugging/obj
/sourcecode/ShipmentLocatorApp/VisualStudioDiagnosticTools/obj
/sourcecode/ShipmentLocatorApp/VisualStudioRemoteDebug/obj
/sourcecode/ShipmentLocatorApp/VisualStudioTests/obj
/sourcecode/ShipmentLocatorApp/VisualStudioUnitTesting/obj
/sourcecode/ShipmentLocatorApp/VisualStudioUnitTesting.Tests/obj
/sourcecode/ShipmentLocatorApp/VisualStudioUnitTesting.Tests01/obj
/sourcecode/BookAPI/.vs
/sourcecode/BookAPI/obj
/sourcecode/BookAPI/bin/Debug/net9.0
/sourcecode/ShipmentLocatorApp/ProductivityInVS/bin/Debug
/sourcecode/ShipmentLocatorApp/ProjectUtilities/bin/Debug
/sourcecode/ShipmentLocatorApp/ShipmentLocator/.vs
/sourcecode/ShipmentLocatorApp/ShipmentLocator/bin/Debug
/sourcecode/ShipmentLocatorApp/ShipmentTracking/bin/Debug
/sourcecode/ShipmentLocatorApp/Tracking/bin/Debug/net8.0
/sourcecode/ShipmentLocatorApp/VisualStudioDebugging/bin/Debug
/sourcecode/ShipmentLocatorApp/VisualStudioRemoteDebug/bin/Debug
/sourcecode/ShipmentLocatorApp/VisualStudioTests/bin/Debug
/sourcecode/ShipmentLocatorApp/VisualStudioUnitTesting/bin/Debug
/sourcecode/ShipmentLocatorApp/VisualStudioUnitTesting.Tests01/bin/Debug
/sourcecode/HelloAspire/.vs/HelloAspire
/sourcecode/HelloAspire/HelloAspire.ApiService/bin/Debug/net9.0
/sourcecode/HelloAspire/HelloAspire.ApiService/obj
/sourcecode/HelloAspire/HelloAspire.AppHost/bin/Debug/net9.0
/sourcecode/HelloAspire/HelloAspire.AppHost/obj
/sourcecode/HelloAspire/HelloAspire.ServiceDefaults/bin/Debug/net9.0
/sourcecode/HelloAspire/HelloAspire.ServiceDefaults/obj
/sourcecode/HelloAspire/HelloAspire.Web/bin/Debug/net9.0
/sourcecode/HelloAspire/HelloAspire.Web/obj
